/* CSS de la page HTML */

body {
	font-family: 'Lato', sans-serif;
	
}


/* CSS de la barre de navigation */

#myNavbar a {
	color: white;
}

#myNavbar ul li a:hover {
	background-color: green;
}



.loupe {
	text-align: center;
}


.separation {
	height: 50px;
}


/* CSS du bloc IMAGES/VIDEOS/TEXTE */

.row_zone_blanche {
	height: 1095px;
	}

.images {
	height: 315px;
	background-color: red;
	
}

.zone_blanche {
	height: 780px;
}

.audiotheme {
	background-color: white;
}

.aside_right {
	background-color: white;
}

/* CSS du bloc de gauche */

.aside_left {
	height: 1095px; 
	background-color: black;
}

/* CSS du footer */

footer {
	height: 50px;
	background-color: black;
}

footer p {
	color: white;
	padding-left: 15px;
	padding-top: 8px;
}

footer a {
	color: grey;
	text-decoration: none;
}

footer a:hover {
	color: green;
	text-decoration: underline;
}

